<h1>Sample App</h1>
Hi <%= @user.name %>,
<p>Welcome to Sample App. Please click the below to activate your account.</p>

<p>
  <%= link_to "activate", edit_account_activation_url(@user.activation_token, email:@user.email) %>
</p>