<%provide(:title,"Edit User") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages, object: f.object' %>
     
      <%= f.label :name %>
      <%= f.text_field :name, class:'form-control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class:'form-control' %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class:'form-control' %>
      
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, class:'form-control' %>
      
      <%= f.submit "Save changes", class:"btn btn-primary submit" %>
    <% end %>
    
    <div class="gravatar-edit">
      <%= gravatar_for @user %>
      <a href="http://gravatr.com/emails" target=_blank>change</a>
    </div>
  </div>
</div>