<% provide(:title, 'All users') %>
  <h1>All Users</h1>
  <%= will_paginate %>
      <ul class="users">
        <% @users.each do |user| %>
          <% if user.activated? %>
            <li>
              <%= gravatar_for user, size: 50 %>
              <%= link_to user.name, user%>
              <% if current_user.admin? && !current_user?(user)%>
                | <%= link_to "delete", user, method: :delete, data: {confirm: "You Sure?"} %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
  <%= will_paginate %>
      