<li id="micropost-<%=micropost.id %>" >
  <span class ="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class ="content"><%= micropost.content %></span>
  <span class ="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at)%> |
    <%= link_to "delete", micropost, method: :delete, data: {confirm:"You Sure?"} %>
  </span>
</li>