@import "bootstrap-sprockets";
@import "bootstrap";

body {
padding-top: 60px;
}

section {
overflow: auto;
}

textarea {
resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: #fff;
    text-decoration: none; 
  }
}

h1,h2,h3,h4,h5,h6 {
 line-height:1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

footer {
  clear:both;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  small {
    float: left;
  }
  
  ul {
  float: right;
  list-style: none;
  
    li {
      float: left;
      margin-left:15px;
      }
    }
}

a { 
  color: #555;
  &:hover {
    color: #222;
  }
}


@mixin box_sizing {
}
$gray-medium-light: #eaeaea;
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background-color: $gray-medium-light;
  border: 1px dashed black;
}

.user_info {
  margin-top: 20px;
}

aside {
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
  
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
  
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float:left;
  margin-right: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.submit {
  margin-bottom: 45px;
}

#error_explanation {
  color:red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has_error !optional;
  .form_control {
    color: $state-danger-text;
  }
}

.checkbox {
margin-top: -10px;
margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  mergin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top:1px solid black;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
}

.content {
  display: block;
  margin-left: 60px;
  
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  
  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }
  
  span.picture {
    margin-top: 10px;
    input {
      border: 0;
    }
  }
}