<footer class="footer">
  <small>
    The <a href="http://wwww.railstutorial.org/">Ruby on Rails Tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", "http://news.railstutorial.org" %></li>
    </ul>
  </nav>
</footer>